@model WeatherModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="Search">
    <input type="text" placeholder="City Name"  asp-for="@Model.City"/>
    <input type="submit" value="Search..."/>

</form>